:root
{
    --white : #ffffff;
    --black : #000000;
    --green-ocean : #2A6D7E;
    --blue-cloud : #D6ECF3;
    --gray-sky : #537287;
    --blue-sky-dark : #1C4158;
    --blue-dark:#082F49;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    font-family: 'Berlin Sans FB'; color: rgb(55,52,53); font-size: 14px
}